nav {
    
    
    
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
    text-align: right;
    margin: 0px 25px 0px ;

}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: " > ";
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
